<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munternet.app.courtesycall">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true"/>

    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> -->

    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".app.CourtesyCallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.OutgoingCallActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".oldcode.IncommingCallService"
            android:exported="false"
            />

        <service
            android:name=".oldcode.CallService"
            android:enabled="true"
            android:exported="true"
            />

        <service
            android:name=".app.calling.SinchService"
            />

         <receiver android:name=".app.AutoStartReceiver" >
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
         </receiver>

        <receiver
            android:name=".app.calling.PerformOutgoingCallReceiver"
            android:process=":remote" />

        <activity
            android:name=".ui.EditAlarmActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.sinch.calling.CallScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".ui.sinch.calling.IncomingCallScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".ui.welcomeintro.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />


    </application>

</manifest>